
.calendar {
    width: 100%;
    max-width: 900px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .calendar-header button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .calendar-header h2 {
    margin: 10px 0;
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 10px;
  }
  
  .day-name, .day {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--background-light);
    min-height: 70px;
    position: relative;
    box-shadow: var(--box-shadow-card);
  }
  
  .day-name {
    font-weight: bold;
    background-color: var(--background-light);
  }
  
  .today {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  
  .task {
    background-color: var(--color-orange);
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: grab;
  }
  